dotfiles/vscode/.config/Code/*
!dotfiles/vscode/.config/Code/User
dotfiles/vscode/.config/Code/User/*
!dotfiles/vscode/.config/Code/User/keybindings.json
!dotfiles/vscode/.config/Code/User/settings.json
!dotfiles/vscode/.config/Code/User/extensions.txt
!dotfiles/vscode/.config/Code/User/snippets

.histfile
.zcompdump

node_modules

dotfiles/local/.local/bin/zed

lazy-lock.json

setup-status.txt
dotfiles/environment.d/.config/environment.d/desktop.conf

dotfiles/pgcli/.config/pgcli/log
