// spawn-at-startup "zsh" "-c" "[[ \"$DESKTOP\" == \"1\" ]] && awww-daemon"
//
// spawn-at-startup "zsh" "-c" "[[ \"$DESKTOP\" == \"1\" ]] && noctalia"
// spawn-at-startup "sh" "-c" "[ \"$DESKTOP\" = \"1\" ] && awww-daemon"
//
// spawn-at-startup "sh" "-c" "[ \"$DESKTOP\" = \"1\" ] && noctalia"
//
spawn-at-startup "~/.config/niri/bins/niri-zoomd"
spawn-at-startup "~/.config/niri/scripts/noctalia.sh"
spawn-at-startup "~/.config/niri/scripts/awww-daemon.sh"
