spawn-at-startup "awww-daemon"
spawn-at-startup "noctalia"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "~/.local/bin/niri-zoomd"

spawn-at-startup "zsh" "-lc" "~/.config/niri/scripts/noctalia-bar-toggle.sh"
// spawn-at-startup "sh" "-c" "~/.config/niri/scripts/init.sh"
// // spawn-at-startup "zsh" "-lc" "~/.config/niri/scripts/init.sh > /tmp/niri-init.log 2>&1"
// // spawn-at-startup "~/.config/niri/scripts/init.sh"
