output "eDP-1" {
    mode "1920x1200@60"
    backdrop-color "#000000" // overview and app-gap color
    scale 1.25
    transform "normal" // 90 180 270
    position x=0 y=0
        hot-corners {
            off
            // top-left
    }

}
